streamlit
python-dotenv
langchain-google-genai
langchain-groq
unstructured
chromadb
langchain-core
langchain-huggingface
langchain-chroma
langchain-community
langchain
langgraph
langchain-text-splitters
sentence-transformers
transformers
torch
torchvision
timm
accelerate
opencv-python-headless
pillow
pdf2image
pdfminer-six
pypdf
pypdfium2
pikepdf
unstructured-inference
unstructured-pytesseract
python-magic
groq
pi-heif
pandas
numpy
